* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-page-container {
    background: rgb(252, 252, 252);
    background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(43, 168, 219, 1) 56%, rgba(0, 9, 255, 1) 100%);
}

#home-page-hero-section {
    width: 100%;
    height: 100%;
    position: relative;
}

#home-page-over-video {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -265px;
    width: auto;
    height: auto;
    text-align: center;
    backdrop-filter: blur(5px);
}

#home-page-over-video-name {
    font-size: 10vh;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}

#home-page-over-video-slogen {
    font-size: 4vh;
    -webkit-text-fill-color: white;
}

#home-page-hero-section video {
    width: 100%;
    height: 100%;
}

#home-page-intradction {
    margin: 20px;
}

#home-page-intradction h1 {
    font-style: italic;
}

#home-page-see-store {
    margin: 10px 5px 50px 5px;
    position: relative;
}

#home-page-left-button {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    z-index: 10;
}

#carousle-left-button-img {
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
}


#home-page-right-button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    z-index: 10;
}

#carousle-right-button-img {
    width: 25px;
    height: 25px;
}

#home-page-shop-example {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    border: 1px solid black;
    background-color: lightgray;
}

#home-page-link-to-store {
    margin-left: 15px;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: x-large;
}

#home-page-recommendations {
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    background-color: lightgray;
}

#home-page-recommendations h1 {
    text-decoration: underline;
}

.home-page-customer-recommendation {
    font-style: oblique;
    font-size: larger;
    font-weight: 300;
    margin: 10px;
}

.recommendations-authors {
    font-style: normal;
}

#home-page-shop-example {
    width: 11600px;
}


.home-page-products-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr;
    width: 265PX;
    height: 288PX;
    background-color: deepskyblue;
    padding: 5%;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    transition: all 2s;
    transform: translateX(-5800px);
}

.home-page-products-house-image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: hidden;
    margin-bottom: 10px;

}

.home-page-products-house-image img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.home-page-products-country {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.home-page-products-city {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.home-page-products-bedrooms {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.home-page-products-bathrooms {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.home-page-products-price {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}